html{
    background-color: rgb(255, 190, 247);
    width: auto;
}
.font-title{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: none;
    text-align:left;
    font-weight: bold;
}
.footer{
    list-style: none;
}
.ul{
    display: flex;
    flex-direction: row;
}
.li{
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: none;
}
.img{
    max-width: 40px;
}
.box{
    background-color: white;
    box-shadow: rgb(139, 139, 139) 0rem 0.5rem 0.5rem;
    position: relative;
    box-sizing:content-box;
}

